.forgot-page {
  min-height: 100vh;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.forgot-container {
  width: 100%;
  max-width: 520px;
}


.forgot-card {
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);
  padding: 42px;
}


/* LOGO */

.forgot-logo-section {
  text-align: center;
  margin-bottom: 32px;
}

.forgot-logo {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

/* TITLE */

.forgot-title-section {
  text-align: center;
  margin-bottom: 32px;
}

.forgot-title-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #111827;
  margin: 0 0 8px;
}

.forgot-title-section p {
  font-size: 17px;
  color: #4b5563;
  line-height: 1.5;
  margin: 0;
}

/* INPUT */

.forgot-input-group {
  margin-bottom: 24px;
}

.forgot-input-group label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
}

.forgot-input-wrapper {
  position: relative;
}

.forgot-input-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.forgot-input-icon i {
  color: #9ca3af;
  font-size: 20px;
}

.forgot-input-wrapper input {
  width: 100%;
  box-sizing: border-box;

  padding: 14px 14px 14px 44px;

  border: 1px solid #d1d5db;
  border-radius: 8px;

  color: #111827;
  font-size: 16px;

  outline: none;

  transition: 0.2s;
}

.forgot-input-wrapper input::placeholder {
  color: #9ca3af;
}

.forgot-input-wrapper input:focus {
  border-color:  #ca0076;
  box-shadow: 0 0 0 2px rgba(254, 161, 22, 0.15);
}

/* ERROR */

.email-error {
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 14px;
  color: #dc2626;
}

/* VERIFY BUTTON */

.verify-button {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;

  border: none;
  border-radius: 8px;

  background-color: #e94b89;
  color: white;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s;
}

.verify-button:hover {
  background-color: #ca0076;
}

/* SUCCESS */

.forgot-success {
  display: flex;
  align-items: flex-start;

  margin-bottom: 20px;
  padding: 16px;

  background: #f0fdf4;
  border-radius: 8px;
}

.success-icon {
  flex-shrink: 0;
  margin-right: 12px;
}

.success-icon i {
  color: #4ade80;
  font-size: 20px;
}

.forgot-success p {
  margin: 0;

  font-size: 14px;
  font-weight: 500;

  color: #166534;
}

/* BACK TO LOGIN */

.back-login {
  margin-top: 24px;
  text-align: center;
}

.back-login button {
  background: none;
  border: none;

  padding: 0;

  color: #e94b89;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
}

.back-login button:hover {
  color: #ca0076;
  text-decoration: underline;
}